.theme-showcase {
  max-width: 1200px;
  margin: 0 auto;
}

.color-sample {
  width: 48px;
  height: 48px;
  border-radius: 0.25rem;
}

.color-showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.hover-demo {
  background-color: var(--color-primary-200);
  padding: 1rem;
  border-radius: var(--radius-md);
  transition-property: transform, background-color;
  transition-timing-function: var(--ease-in-out);
  transition-duration: var(--duration-300);
}

.hover-demo:hover {
  background-color: var(--color-primary-400);
  transform: scale(1.05);
}
